nav div {
    margin-left: 20px;
}

#golfHeader {
    margin-top: 15px;
    margin-bottom: 15px;
}

label {
    font-size: 20px;
}

#golfCardForm {
    padding: 10px;
    border-color: #388e3c;
    border-style: solid;
    border-width: thin;
}

#cardSubmitContainer {
    margin-top: 10px;
}