<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Golf Tracker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
</head>
<body>
  <nav class="green darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <h1 class="container center-align" id="golfHeader">Golf Tracker</h1>
  <section id="makeGolfCard">
    <form id="golfCardForm" name="golfCardForm" action="/maker" method="POST" class="golfCardForm container">
      <label for="courseName">Course Name: </label>
      <input id="courseName" type="text" name="courseName" placeholder="Course Name"/>
      <h3>Card: </h3>
        <h5>Hole 1: </h5>
        <div class="container">
        <label for="hole1Par">Par: </label>    
        <div class="input-field col s6">
                <select id="hole1Par" name="hole1Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label for="hole1Yards">Yards: </label>
        <input id="hole1Yards" type="number" name="hole1Yards" placeholder="Yards"/>
        <label for="hole1Score" name="hole1Yards">Score: </label>
        <input id="hole1Score" type="number" name="hole1Score" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 2: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole2Par" name="hole2Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole2Yards" type="number" name="hole2Yards" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole2Score" type="number" name="hole2Score" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 3: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole3Par" name="hole3Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole3Yards" type="number" name="hole3Yards" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole3Score" type="number" name="hole3Score" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 4: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole4Par" name="hole4Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole4Yards" name="hole4Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole4Score" name="hole4Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 5: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole5Par" name="hole5Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole5Yards" name="hole5Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole5Score" name="hole5Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 6: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole6Par" name="hole6Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole6Yards" name="hole6Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole6Score" name="hole6Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 7: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole7Par" name="hole7Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole7Yards" name="hole7Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole7Score" name="hole7Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 8: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole8Par" name="hole8Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole8Yards" name="hole8Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole8Score" name="hole8Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 9: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole9Par" name="hole9Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole9Yards" name="hole9Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole9Score" name="hole9Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 10: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole10Par" name="hole10Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole10Yards" name="hole10Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole10Score" name="hole10Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 11: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole11Par" name="hole11Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole11Yards" name="hole11Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole11Score" name="hole11Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 12: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole12Par" name="hole12Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole12Yards" name="hole12Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole12Score" name="hole12Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 13: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole13Par" name="hole13Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole13Yards" name="hole13Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole13Score" name="hole13Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 14: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole14Par" name="hole14Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole14Yards" name="hole14Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole14Score" name="hole14Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 15: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole15Par" name="hole15Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole15Yards" name="hole15Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole15Score" name="hole15Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 16: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole16Par" name="hole16Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole16Yards" name="hole16Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole16Score" name="hole16Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 17: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole17Par" name="hole17Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole17Yards" name="hole17Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole17Score" name="hole17Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
        <h5>Hole 18: </h5>
        <div class="container">
        <label>Par: </label>    
        <div class="input-field col s6">
                <select id="hole18Par" name="hole18Par">
                  <option value="3">Par 3</option>
                  <option value="4">Par 4</option>
                  <option value="5">Par 5</option>
                  <option value="6">Par 6</option>
                </select>
        </div>
        <label>Yards: </label>
        <input id="hole18Yards" name="hole18Yards" type="number" placeholder="Yards"/>
        <label>Score: </label>
        <input id="hole18Score" name="hole18Score" type="number" placeholder="Score"/>
        </div>
        <div class="divider"></div>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
        <div class="container center-align" id="cardSubmitContainer">
        <a class="waves-effect waves-light btn green darken-2" type="submit" id="cardSubmitButton">Make Golf Card</a>
        </div>
    </form>
  </section>
  <section id="golfCards">
    <div class="golfCard">
        {{#if golfCards}}
            {{#each golfCards}}
                <div class="golfCard">
                    <h3 class="courseName">Course Name: {{this.courseName}}</h3>
                    <h3>Score: </h3>
                </div>
            {{/each}}
        {{else}}
            <h3 class="emptyGolfCard">No Cards yet</h3>
        {{/if}}
    </div>
  </section>
  <div id="domoMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/js/bundle.js"></script>
</body>
</html>